


<table class="table" style="margin-top: 100px;">
    <caption>List of users</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">IP</th>
        <th scope="col">Model</th>
        <th scope="col">Name</th>
        <th scope="col">desc</th>
        <th scope="col">img</th>
        <th scope="col">-</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data;let i=index">
        <th scope="row">{{i}}</th>
        <td>{{item.ip}}</td>
        <td>{{item.model}}</td>
        <td>{{item.name}}</td>
        <td><p>{{item.desc}}</p></td>
        <td><img [src]="item.img.data" alt="" class="img"></td>
        <td><button class="btn btn-danger" (click)="delete(item._id)">delete</button></td>
      </tr>

    </tbody>
  </table>