

<!-- 
<table class="table" style="margin-top: 100px;">
    <caption>List of users</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">IP</th>
        <th scope="col">Model</th>
        <th scope="col">Name</th>
        <th scope="col">desc</th>
        <th scope="col">img</th>
        <th scope="col">-</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data;let i=index">
        <th scope="row">{{i}}</th>
        <td>{{item.ip}}</td>
        <td>{{item.model}}</td>
        <td>{{item.name}}</td>
        <td><p>{{item.desc}}</p></td>
        <td><img [src]="item.img.data" alt="" class="img"></td>
        <td><button class="btn btn-danger" (click)="delete(item._id)">delete</button></td>
      </tr>

    </tbody>
  </table> -->

  <form [formGroup]="skillsForm" (ngSubmit)="onSubmit()" style="margin-top: 200px">

    <div formArrayName="skills" >
      <div *ngFor="let skill of skills.controls; let i=index">
        <div [formGroupName]="i" style="  border: 5px solid #2554; margin-bottom: 10px;       ">
          <div class="row align-items-center g-3 mx-auto">

            <div style="width:11%; margin-bottom: 10px;">
              <img style="width:150px; height: 150px;"[src]="data?.[i]?.img?.data" alt="" class="img">
            </div>


            <div style="width:11%">
                <label class="visually-hidden" for="inputEmail">Email</label>
                <input formControlName="color" type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
    
            <div style="width:11%">
              <label class="visually-hidden" for="inputEmail">Email</label>
              <input  formControlName="desc" type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
    
    
            <div style="width:11%">
               <label class="visually-hidden" for="inputEmail">Email</label>
               <input formControlName="ip" type="email" class="form-control" id="inputEmail" placeholder="Email">
          </div>
    
    
         <div style="width:11%">
          <label class="visually-hidden" for="inputEmail">Email</label>
          <input formControlName="model" type="email" class="form-control" id="inputEmail" placeholder="Email">
         </div>
    
         <div style="width:11%">
          <label class="visually-hidden" for="inputEmail">Email</label>
            <input formControlName="name" type="email" class="form-control" id="inputEmail" placeholder="Email">
          </div>

          <div style="width:11%">
            <label class="visually-hidden" for="inputEmail">status</label>
              <input  formControlName="status" type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>


            <div style="width:11%">
              <button type="submit" class="btn btn-primary" (click)="updatephone(i)">update</button>
            </div>

            <div style="width:11%">
              <button type="submit" class="btn btn-danger" (click)="deletephone(data?.[i]?._id)">delete</button>
            </div>

        </div>
        </div>
      </div>
    </div>

</form>
  